.posterImage {
    display: block;
    height: 500px;
    width: 390px;
    min-width: 390px;
    object-fit: fill;
    transition: transform .4s;
}

.posterImage:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px red;
    transform: scale(1.2);
    transform-origin: 10% 10%;
}

.popis {
    margin-left: 3rem;
    margin-top: 7rem;
}