#menu li a {
    color: gray;
}
#menu li a:hover {
    color: red;
}
.navbar-color {
    background-color: #272d31;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px red!important;
    border-color: red !important;

}

.form-control:hover {
    border-color: red !important;
}

.footer_backround {
    background-color: #272d31;
}

footer {
    background-color: #272d31;
    padding: 120px;

}
footer ul li .nav-link {
    color: gray;
}
footer ul li .nav-link:hover {
    color: red;
}
body {
    background-image: url("https://kukaj.io/img/bgTINY.png");
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;

}

.modal-content {
    background-color: #272d31;
}
#stranka-Body {
    margin-top: 80px;
}

#stranka-Body .row img {
    max-width: 250px;
    height: auto;
}
.carousel-caption {
    top: 10%;
    bottom: auto;
}

#sugestedMoviesSerials .col-md-2 {

    min-width: 200px;
    max-height: 340px;
    max-width: 220px;
    border-color: #dc3545 !important;
}

#sugestedMoviesSerials .col-md-2:hover {
    border-color: red !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px red!important;

}
#sugestedMoviesSerials .col-md-2 {
    transition: transform .4s;
    display: block;

}
#sugestedMoviesSerials .col-md-2:hover {
    transform: scale(1.3);
    transform-origin: 50% 50%;
    background-color: #272d31;

}

.carousel-item img {
    object-fit: cover;
    max-height: 500px;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #272d31;
}


::-webkit-scrollbar-thumb {
    background: #dc3545;
}


::-webkit-scrollbar-thumb:hover {
    background: red;
}
