#menu li a {
    color: gray;
}
#menu li a:hover {
    color: red;
}
.navbar-color {
    background-color: #272d31;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px red!important;
    border-color: red !important;

}

.form-control:hover {
    border-color: red !important;
}

.footer_backround {
    background-color: #272d31;
}

footer {
    background-color: #272d31;
    padding: 20px;
}
footer ul li .nav-link {
    color: gray;
}
footer ul li .nav-link:hover {
    color: red;
}
body {
    background-image: url("https://kukaj.io/img/bgTINY.png");
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    margin-bottom: 20px;
}
#something {
    margin-top: 80px;
}

